apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: front
spec:
  replicas: 2
  selector:
    matchLabels:
      app: reverse-proxy
  template:
    metadata:
      labels:
        app: reverse-proxy
    spec:
      containers:
      - name: nginx
        image: nginx:1.27.1-alpine